body {
	background-color: #AE88B4;
	font-family: cursive;
}

#header-nav {
	background-color: #A8A5A8;
	border-radius: 0;
	border :0;
	padding: 15px;
}
.navbar-brand {
	padding-top: 5px;
}
.navbar-brand h1{
	
	text-decoration: none;
	color: #5A101E;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -15px;
}

#nav-list {
	color: black;
}
.text-center {
	color: #E4133B;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}
.sushi {
	color :orange;
	font-size: 20px;
}
#idsushi {
	background-color: pink;
}